extends layout

block append vars
  - var activeNav = 'Software Blog'

block append head
  link(
    rel='alternate'
    href=locals.url + '/software/feed.xml'
    type='application/rss+xml'
    title=locals.description
  )

block content
  h2 Posts

  each article in articles
    p: a(href=article.url)
      = moment.utc(article.date).format('DD MMMM YYYY')
      br
      = article.title
