!!! 5
block vars
  - var bodyClass = 'index'
  - var activeNav = ''

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(
        http-equiv='X-UA-Compatible'
        content='IE=edge,chrome=1'
      )
      meta(name='viewport', content='width=device-width')

      title
        block title
          = locals.name

      link(rel='author', href='http://www.jmerrifield.com')
      link(
        rel='stylesheet'
        href='/css/reset.css'
      )
      link(
        rel='stylesheet'
        href='/css/main.css'
      )

      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{locals.ga_key}']);
        _gaq.push(['_trackPageview']);

  body(class=bodyClass)
    header#header
      ul.nav
        li: h1: a(href='/') Jon Merrifield
        li: a(class=activeNav == 'About Me' ? 'active' : '', href='/') About Me
        li: a(class=activeNav == 'Software Blog' ? 'active' : '', href='/software/') Software Blog

    div#content
      block content

    footer
      ul.nav
        li.icon: a(href='mailto:jon@jmerrifield.com') &#59398;
        li.icon: a(href='https://twitter.com/jon_merrifield') &#59396;
        li.icon: a(href='https://www.facebook.com/jmerrifield') &#59393;
        li.icon: a(href='http://www.linkedin.com/profile/view?id=9701957') &#59395;
        li.icon: a(href='https://github.com/jmerrifield') &#59392;
        li.icon: a(href='http://stackoverflow.com/users/74152/jon-m') &#59397;
        li.icon: a(href='https://google.com/+JonMerrifield') &#59394;
